* {
	font-family: Arial, sans-serif;
}
body {
	padding-top: 20px;
}

h3 {
	font-weight: normal;
}

form#cmg-form {
	width: 500px;
	margin: 20px auto;
}

#loader {
	margin:100px 0 0 200px;
	display:none;
	position:absolute;
	top:20px;
	z-index: 10;
}
#error, #error2 { 
	color: #f00;
	display:none;
}

.slide {
	float:left;
}

#signin, #network, #sites, #password, #message {
	display:none;
}

.next {
	margin-top: 20px;
	background-color: #3c78b5;
	font: bold 16px Arial, sans-serif;
	padding: 10px;
	color: #fff;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	cursor:pointer;
	text-align:center;
	border:none;
	text-decoration: none;
}

.sitelevel {
	padding:5px;
	margin:10px;
}